# SPDX-FileCopyrightText: 2022 nerdyscout <https://github.com/nerdyscout/>
#
# SPDX-License-Identifier: CC0-1.0

name: PlatformIO

on:
  push:
    paths:
    - src/**
  pull_request:
    paths:
    - src/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: PlatformIO Run
# https://github.com/karniv00l/platformio-run-action
        uses: karniv00l/platformio-run-action@0.1.0
#        with:
#          environments: ""
#          targets: ""
#          project-dir: "./some_dir"
#          project-conf: "./some_dir/custom.ini"
#          jobs: 6
#          silent: false
#          verbose: true
#          disable-auto-clean: false